/*body{padding-top: 3px;
     padding-left: 3px;
     padding-right: 3px;
          border-left: 1px;
     border-right: 1px;*/

.login{
    max-width: 330px;   
    padding: 15px;
    margin:  0 auto;
}
#formulario{
    margin-top: 10%;
    max-height: 340px;
    max-width: 340px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);                   
    -moz-box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);
    box-shadow: 0px 0px 18px 0px rgba(48,50,50,0.48);
    border-radius: 6%;
}
#avatar {
    margin: 0px auto 10px;
    display: block;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 40%;
}
.btn-success{
    background-color:#713517;   
    border-color:#954500; 

}
.btn-success:hover{
    background-color: #954500;
    border-color: #713517;
}
.dropdown{
    color:#be5504;
}
.navbar-default {

    color :#713517;
}
.navbar-brand{
   color :#713517; 
    
}
/*.navbar-static-top{
     padding-left: 1px;
     padding-right: 1px;
     border-left: 1px;
     border-right: 1px;
          border-left-color: #713517;
     border-right-color: #713517;
    */
.a{
    
    color: #ba5600;
}
 
.container {
    margin-top: 60px;
    border-color: #753800;
    
}